# py2neo

In [79]:
from py2neo import Node, Relationship, Graph, NodeSelector
from py2neo.ogm import GraphObject, Property, RelatedFrom, RelatedTo
from pandas import DataFrame

### basic

In [1]:
a = Node("Person", name="Alice")
b = Node("Person", name="Bob")
ab = Relationship(a, "KNOWS", b)
ab

(alice)-[:KNOWS]->(bob)

### custom relationship

In [2]:
c = Node("Person", name="Carol")
class WorksWith(Relationship): pass
ac = WorksWith(a, c)
ac.type()

'WORKS_WITH'

### subgraphs

In [4]:
s = ab | ac
s

({(alice:Person {name:"Alice"}), (carol:Person {name:"Carol"}), (bob:Person {name:"Bob"})}, {(alice)-[:KNOWS]->(bob), (alice)-[:WORKS_WITH]->(carol)})

In [5]:
s.nodes()

frozenset({(alice:Person {name:"Alice"}),
           (carol:Person {name:"Carol"}),
           (bob:Person {name:"Bob"})})

In [6]:
s.relationships()

frozenset({(alice)-[:KNOWS]->(bob), (alice)-[:WORKS_WITH]->(carol)})

### walkables

In [15]:
w = ab + Relationship(b, "LIKES", c) + ac
w

(alice)-[:KNOWS]->(bob)-[:LIKES]->(carol)<-[:WORKS_WITH]-(alice)

### Graph DB

In [19]:
graph = Graph(password="neo4j1")
graph.exists
graph.run("UNWIND range(1, 10) AS n RETURN n, n * n as n_sq").dump()

 n   n_sq
----------
 1   1
 2   4
 3   9
 4   16
 5   25
 6   36
 7   49
 8   64
 9   81
 10  100

In [23]:
gd = graph.data("MATCH (a:Person) RETURN a.name, a.born LIMIT 4")
gd

[{'a.born': 1964, 'a.name': 'Keanu Reeves'},
 {'a.born': 1967, 'a.name': 'Carrie-Anne Moss'},
 {'a.born': 1961, 'a.name': 'Laurence Fishburne'},
 {'a.born': 1960, 'a.name': 'Hugo Weaving'}]

In [80]:
DataFrame(gd)

   a.born              a.name
0    1964        Keanu Reeves
1    1967    Carrie-Anne Moss
2    1961  Laurence Fishburne
3    1960        Hugo Weaving

### transaction

In [42]:
>>> tx = graph.begin()
>>> a = Node("Person", name="Alice")
>>> tx.create(a)
>>> b = Node("Person", name="Bob")
>>> ab = Relationship(a, "KNOWS", b)
>>> tx.create(ab)
>>> tx.commit()
>>> graph.exists(ab)

True

### queries

In [43]:
q = """
MATCH (p1:Person {{name:"{name1}"}})-[r:KNOWS]-(p2:Person {{name:"{name2}"}})
RETURN p1,r, p2
""".format(name1="Alice", name2="Bob")
graph.data(q)

[{'p1': (d16b54a:Person {name:"Alice"}),
  'p2': (dfe450a:Person {name:"Bob"}),
  'r': (d16b54a)-[:KNOWS]->(dfe450a)},
 {'p1': (alice:Person {name:"Alice"}),
  'p2': (bob:Person {name:"Bob"}),
  'r': (alice)-[:KNOWS]->(bob)},
 {'p1': (alice:Person {name:"Alice"}),
  'p2': (bob:Person {name:"Bob"}),
  'r': (alice)-[:KNOWS]->(bob)}]

In [45]:
graph.run("MATCH (a) WHERE a.email={x} RETURN a.name", x="bob@acme.com").evaluate()

In [48]:
selector = NodeSelector(graph)
selected = selector.select("Person", name="Keanu Reeves")
list(selected)

[(d64da1b:Person {born:1964,name:"Keanu Reeves"})]

In [50]:
selected = selector.select("Person").where("_.name =~ 'J.*'", "1960 <= _.born < 1970")
list(selected)

[(c1df003:Person {born:1967,name:"James Marshall"}),
 (c0add9d:Person {born:1966,name:"John Cusack"}),
 (d7dd32b:Person {born:1960,name:"John Goodman"}),
 (c6da9c9:Person {born:1965,name:"John C. Reilly"}),
 (d2a48c6:Person {born:1967,name:"Julia Roberts"})]

In [52]:
selected.order_by("_.name", "max(_.a, _.b)")

### Object Graph Mapping

In [60]:
class Movie(GraphObject):
    __primarykey__ = "title"

    title = Property()
    tag_line = Property("tagline")
    released = Property()

    actors = RelatedFrom("Person", "ACTED_IN")
    directors = RelatedFrom("Person", "DIRECTED")
    producers = RelatedFrom("Person", "PRODUCED")


class Person(GraphObject):
    __primarykey__ = "name"

    name = Property()
    born = Property()

    acted_in = RelatedTo(Movie)
    directed = RelatedTo(Movie)
    produced = RelatedTo(Movie)

In [63]:
p = Person.select(graph, "Keanu Reeves").first()
p

In [64]:
list(Person.select(graph).where("_.name =~ 'K.*'"))

[<Person name='Keanu Reeves'>,
 <Person name='Kevin Bacon'>,
 <Person name='Kiefer Sutherland'>,
 <Person name='Kevin Pollak'>,
 <Person name='Kelly McGillis'>,
 <Person name='Kelly Preston'>]

In [65]:
alice = Person()
alice.name = "Alice Smith"
graph.push(alice)
alice.__ogm__.node

(a94286a:Person {name:"Alice Smith"})

# ipython-cypher

In [66]:
nicole = Node("Person", name="Nicole", age=24)
drew = Node("Person", name="Drew", age=20)

mtdew = Node("Drink", name="Mountain Dew", calories=9000)
cokezero = Node("Drink", name="Coke Zero", calories=0)

coke = Node("Manufacturer", name="Coca Cola")
pepsi = Node("Manufacturer", name="Pepsi")

graph.create(Relationship(nicole, "LIKES", cokezero))
graph.create(Relationship(nicole, "LIKES", mtdew))
graph.create(Relationship(drew, "LIKES", mtdew))
graph.create(Relationship(coke, "MAKES", cokezero))
graph.create(Relationship(pepsi, "MAKES", mtdew))

In [78]:
%load_ext cypher

The cypher extension is already loaded. To reload it, use:
  %reload_ext cypher

In [77]:
%%cypher http://neo4j:neo4j1@localhost:7474/db/data
MATCH (person:Person)-[:LIKES]->(drink:Drink)
RETURN person.name, drink.name, drink.calories

3 rows affected.

[['Nicole', 'Coke Zero', 0],
 ['Drew', 'Mountain Dew', 9000],
 ['Nicole', 'Mountain Dew', 9000]]

In [85]:
results = %cypher http://neo4j:neo4j1@localhost:7474/db/data \
            MATCH (person:Person)-[:LIKES]->(drink:Drink) \
            RETURN person.name AS name, drink.name AS drink
    
df = results.get_dataframe()

df

3 rows affected.

     name         drink
0  Nicole     Coke Zero
1    Drew  Mountain Dew
2  Nicole  Mountain Dew